#header .version {
    background: #e5e5e5;
    border-color: #e5e5e5;
    padding: 2px 10px;
    border-radius: 5px;
    width: 80px;
}

#markdown_content blockquote {
    background-color: #fff1eb;
    border-radius: 10px;
    border-left: 5px solid #f5723b !important;
}

#markdown_content blockquote p {
    margin: 10px;
}

.sidebar-links {
    height: 50px;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: inherit;
    background: inherit;
}

a.repo-link-icon {
    padding: .5rem !important;
}

a.repo-link-icon > img {
    width: 20px;
    height: 20px;
}

.docker-hub-logo {
    width: 30px !important;
}

a.nav-link.has-dropdown.dropdown-open:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

a.nav-link.has-dropdown:after {
    position: absolute;
    content: " ";
    top: 40%;
    right: 25px;
    border-color: #000;
    border-bottom: 2px solid;
    border-right: 2px solid;
    width: 7px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

